.results{
    width: 80vw;
    max-width: 720px;
    border: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    background-color: transparent;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem .5rem;
}

.phonetics{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    gap: 1rem;
}

.word ,.text {
    font-size: 2.2rem;
    font-weight: 800
}

.heading  {
    font-size: 2rem;
    font-weight: 700;
}

.para{
    font-size: 1.4rem;
    color: rgb(194, 192, 192);
}


.def{
    margin: 15px 6px;
}

.emptyResult{
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
}

.pos {
    /* border: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
    box-shadow: 5px 5px 10px black; */
    border: 1px solid whitesmoke;
    margin: .5rem 0;
    padding: .5rem;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 2.5rem;
    /* text-align: center; */
}

.eg{
    padding:18px 0;
}

#hr{
    width: 65%;
    margin: auto;
    margin-top: 10px;
}

.syno{
    text-transform: capitalize;
}

