.results {
  width: 94vw;
  max-width: 720px;
  border: none;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
  background-color: transparent;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.5rem;
}

.phonetics {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  gap: 1rem;
}

.heading {
  font-size: 1.3rem;
  font-weight: 700;
}

.para {
  font-size: 1.2rem;
  color: rgb(194, 192, 192);
}

.def {
  margin: 15px 6px;
}

.emptyResult {
  font-size: 1.8rem;
  text-align: center;
  margin: 0;
  padding: 50px 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.pos {
  border: 1px solid whitesmoke;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  text-transform: capitalize;
  /* font-size: 1.5rem; */
  /* text-align: center; */
}

.partOfSpeech {
  background: #0f2027ad;
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
}

.eg {
  padding: 18px 0;
}

#hr {
  width: 65%;
  margin: auto;
  margin-top: 10px;
}

.syno {
  text-transform: capitalize;
}

.heading b {
  margin-left: 20px;
}
